[submodule "extern/tiny-dnn"]
	path = extern/tiny-dnn
	url = git@github.com:tiny-dnn/tiny-dnn.git
[submodule "extern/googletest"]
	path = extern/googletest
	url = git@github.com:google/googletest.git
[submodule "extern/cereal"]
	path = extern/cereal
	url = git@github.com:USCiLab/cereal.git
