# Where the cmake build files go (hopefully)
build/release/*
build/debug/*

# Where the generated docs go
docs/*
!docs/config
# backup file??? don't know what this is; hopefully don't need it.
docs/config/Doxyfile.bak

# Various CMake stuff??
.cache/
CMakeFiles/
CMakeCache.txt

# used for integration with clangd
**/compile_commands.json

# Python byte code
**/__pycache__

# tensorflow record dataset files
*.tfrec
*.gzip

